@charset "UTF-8";

/*tablets*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    section#banner {
        background-image: url("imagens/background.png");
    }

    section#banner2 {
        background: var(--corBranco) url("imagens/background2.png") no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
/*laptops*/
@media screen and (min-width: 769px){
    section#banner {
        background-image: url("imagens/background.png");
    }
    section#banner2 {
        background: var(--corBranco) url("imagens/background2.png") no-repeat;
        background-position: center center;
        background-size: cover;
    }
    header {
        margin-left: 2em;
    }
    header>h1 {
        text-align: left;
    }
    header >p {
        text-align: left;
    }
    section#banner>div{
        width: 50%;
        text-align: left;
    }
    p#cham {
        text-align: center;
        font-size: 4em;
        margin-left: 0.8em;
        margin-top: 1.2em;
    }
    section#banner2>h2{
        text-align: left;
    }

    section#banner2>div#quem{
        width: 60%;
        margin-left: 2em;
    }
    section#banner2>div#quem>p{
        font-size: 1.8em;
    }

    section#banner2>div#insta{
        left: 5%;
    }

}